*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: auto;
    height: 100vh;
}

.left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    background-image: url("images/bg.png");
    background-size: cover;
}

.left-side .left-side-name{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(8, 8, 8, 0.5);
    flex: auto;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.right-side{
    background-color: black;
    flex: 2 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side .right-side-form{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.right-side .right-side-form{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.form-style{
    display: flex;
    flex-direction: column;
    color: white;
    width: 40%;
    gap: 10px;
    font-family: 'Courier New', Courier, monospace;
}

input[type="text"],input[type="password"],input[type="email"]{
    appearance: none;
    height: 30px;
    border-radius: 8px;
    border: 3px solid white;
}

.submit-button{
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

button{
    border-radius: 8px;
    height: 30px;
    width: 100%;
    background-color: white;
    border:none;
    font-family: 'Courier New', Courier, monospace;
}

button:hover{
    background-color: aqua;
    cursor: pointer;
    color: white;
}

input.invalid{
    border-color: red;
}

input.valid{
    border-color: lime;
    outline: yellow;
}

.error{
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
  }

  .error.active {
    padding: 0.3em;
  }